<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Facturación</a>
    <ul class="navbar-nav" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/buy-list" class="nav-link" routerLink="buyList">Inicio </a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Iniciar session</a>
      </li>
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Registrarse</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">Salir</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
